{% extends 'base.html' %}


{%block content%}
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">welcome to armin ecommerce</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align = "justify">
Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Distinctio modi quo fuga assumenda eveniet molestias rerum iste,
  temporibus maxime consequuntur sunt magnam fugit est autem 
  perspiciatis? Nesciunt, possimus? Error, recusandae.
                </p>
            </div>
        </center>
    </div>
</div>
{%endblock%} 